html, body {padding:0;margin:0; font-family:Georgia, serif; color:#4a443d; text-align:center;}
a {color:#4a443d; text-decoration:none}
body {overflow:auto; height:24000px; }
#skrollr-body {width:100%; height:100%; position:fixed; }
#skrollr-body  div {overflow:hidden; position:absolute; }
.centered { top:0; bottom:0; left:0; right:0; margin:auto; }
.centeredb { bottom:0; left:0; right:0; margin:auto; }
.centeredl { top:0; bottom:0; left:0; right:0; margin:auto; }
.centeredr { top:0; bottom:0; left:0; right:0; margin:auto; }
.centeredlog { left:2%; right:0; margin:auto; }

#holder {
 width:100%;
 height:30px;
 z-index:15;
 font-family:'Michroma';
 color:tan;
 font-size:1.4em;
}
#weare{
left:0;
right:0;
}
#us{
width:100%
}
#sky{
background: #354343;
}

#goodideas {
left: 20%;
font-family: 'Geostar', cursive;
font-size: 2.5em;
color: #CED6B4;
}

#customdes {
right: 15%;
font-family: 'Geostar', cursive;
font-size: 2.5em;
color: #CED6B4;
}

#smoothlaunch {
left: 15%;
font-family: 'Geostar', cursive;
font-size: 2.5em;
color: #CED6B4;
}

#support {
right: 15%;
font-family: 'Geostar', cursive;
font-size: 2.5em;
color: #CED6B4;
}

#desdesc {
font-family: 'Raleway', sans-serif;
color:#BF4B31;
right: 10%;
width: 40%;
font-size: 1.3em;
}

#ideadesc {
font-family: 'Raleway', sans-serif;
color:#BF4B31;
left: 10%;
width: 40%;
font-size: 1.3em;
}

#launchdesc {
font-family: 'Raleway', sans-serif;
color:#BF4B31;
left: 10%;
width: 40%;
font-size: 1.3em;
}

#supportdesc {
font-family: 'Raleway', sans-serif;
color:#BF4B31;
right: 10%;
width: 40%;
font-size: 1.3em;
}


#offera{ 
z-index:12;
width: 100%;
height: 100%;
}


#offerb{ 
z-index:12;
width: 100%;
height: 100%;
}

#offerc{ 
z-index:12;
width: 100%;
height: 100%;
}

#offerd{ 
z-index:12;
width: 100%;
height: 100%;
}

.leftico {
left: 16%;
}

.rightico {
right:16%;
}



#fp{
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
}
#studio {
margin-left: 33%;
}
#folio {
margin-left: 48%;
}
#contact {
margin-left:66%;
}
#logos 	{
	font-family: 'Michroma', sans-serif; 
	font-size: 4em; 
	color: white; 
	z-index:15;
  
  
	}

	
#earth {background: #1d181f; z-index:11}

#palm {
background: url('../images/palm.png') bottom center no-repeat; 
z-index:8;
margin-left: 55%;
}

#grass {
	background: url('../images/grass.png') bottom center no-repeat; 
	z-index:14;
    
}
#grass2 {background: url('../images/grass2.png') bottom center no-repeat; z-index:10}
#trees {
background: url('../images/trees.png') bottom center no-repeat;
z-index:9;
margin-left: -85%;
}
#stars {background: url('../images/stars.png') center center no-repeat; z-index:6}
#moon {
  background: url('../images/moon.png') bottom center no-repeat ;
  z-index:7;
}
.headz {
height:100%;
width:100%;
z-index:12;
color:#CED6B4;
font-size:6.5em;
font-family: 'Nixie One', cursive;
}

#desc{
z-index:12;
right:0;
color:#BF4B31;
font-family: 'Raleway', sans-serif;
left: 25%;
width: 50%;
font-size:1.3em;
}

.sep {
z-index: 12;
left: 0;
right: 0;
height:auto;
width:auto;
}

.circ {
  z-index:14;
}
.pen{
  z-index:15;
}

div#holder a {
padding: 3%;
}

#stalag {
	background-image:url('../images/cavetopsmoosh.png');
	background-repeat:no-repeat;
	z-index:12;
	width: 100%;
	height: 100%;
	background-position-x: center;
	}
	
#cavernback  {
height: 100%;
width: 100%;
z-index: 11;
background: #40362e;
}

#cavebot {
	background-image:url('../images/cavebottom.png');
	z-index:12;
	width:100%;
	height:1453px;
	}
	

#river {
	background-color:#a3d9b0;
	z-index:11;
	width:100%;
	height:400px;
}

#rock {
	background-image:url('../images/riverrock.png');
	z-index:12;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-position-x: 88%;
      }
      
#splash {

      background-image:url('../images/splashwaterfalls.png');
      z-index:13;
      width:100%;
      background-repeat: no-repeat;
      height:2355px;
}

#blackrock {
	background: #1d181f; 
	z-index:12;
	width:100%;
	height:100%;
}


      


#wish2 {background: #354343; z-index:4; box-shadow: 0 0 0 20px #49675f;  }
#snow {width:363px; background:url('../images/snow.png') no-repeat}
#pattern1 { background:url('../images/snow-flakes.png') ; z-index:2; background-attachment:fixed}
.ribbon {background:#49675f; height:40px; top:50%; margin-top:-20px; z-index:3;   }
#ribbon-left {left:0}
#ribbon-right {right:0}
#pattern2 { background:url('../images/pattern.png'); z-index:1;}
#wish3 {background:#8dbaae url('../images/merry3.png') no-repeat center center; z-index:6; border-radius:50%;}
#info {background:#fff; width:20%; height:50px; bottom:auto; z-index:10; font-size:22px;  line-height:50px;}
#copyright {font-size:12px;  z-index:10;bottom:10px; width:100%;}